TMDB_API_KEY=insira_a_chave_da_api

# URL em que a aplicação está rodando
# necessário para o retorno da url de foto de perfil do usuário
BASE_URL="http://localhost:8000" 

DATABASE=moviescore
DB_USERNAME=root
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=3306