TMDB_API_KEY=

# URL em que a aplicação está rodando
# necessário para o retorno da url de foto de perfil do usuário
BASE_URL="http://localhost:8000" 

DATABASE=moviescore
DB_USERNAME=root
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=3306

# JWT — gere uma chave forte, ex: openssl rand -hex 32
JWT_SECRET_KEY=
JWT_EXPIRE_MINUTES=30