@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #d6d6d6;
  --foreground-muted: #a5a5a5;

  --primary: #e13e00;
  --primary-foreground: #fafafa;
  --primary-hover: #ff6907;

  --secondary: #fafafa;
  --secondary-foreground: #333333;
  --secondary-hover: #D9D9D9;

  --neutral: #333333;
  --neutral-foreground: #d6d6d6; 
  --neutral-hover: #434343;
  --neutral-border: #0a0a0a;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);

  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-neutral-hover: var(--neutral-hover);
  --color-neutral-border: var(--neutral-border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --font-sans: var(--font-poppins);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
